<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Audio</title>
    <!-- 
        Built by Sébastien Martinez Balbuena in 2023. 
        If you encounter any bug or problem, or want to access the documentation : 
        https://github.com/smarbal/web-audio-cleaner
     -->
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <link href="{{url_for('static',filename='dist/css/filepond.css')}}" rel="stylesheet" />
    <link href="{{url_for('static',filename='dist/css/filepond-plugin-file-poster.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='dist/css/filepond-custom.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='dist/js/filepond.js')}}"></script>
    <script src="{{url_for('static',filename='dist/js/filepond-plugin-file-poster.js')}}"></script>
    <script src="{{url_for('static',filename='dist/js/filepond-plugin-file-encode.js')}}"></script>
    <script src="{{url_for('static',filename='dist/js/filepond-plugin-file-validate-size.js')}}"></script>
    <script src="{{url_for('static',filename='dist/js/filepond-plugin-file-validate-type.js')}}"></script>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://unpkg.com/flowbite@1.6.0/dist/flowbite.min.js"></script>
    
</head>
<body class="bg-[radial-gradient(ellipse_at_bottom_right,_var(--tw-gradient-stops))] from-indigo-200 via-slate-100 to-yellow-100 h-screen">
    <nav class="px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap justify-around m-auto">
            <div>
                <a href="/" class="flex items-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Belgian_Air_Component_wings.svg/1200px-Belgian_Air_Component_wings.svg.png" class="mr-3 h-6 sm:h-10" alt="Air force logo">
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Noisy</span>
                </a>
            </div>
            <div class="flex md:order-2 ">
                <button type="button" data-modal-target="default" data-modal-toggle="infoModal"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get
                    started</button>
                <button data-collapse-toggle="navbar-cta" type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-cta" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="m-auto" id="navbar-cta">
                <ul
                    class="flex flex-row p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/"
                            class="mx-10 py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Home</a>

                        <a href="/history"
                            class="mx-10 py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">History</a>
                    </li>

                    
                </ul>
            </div>
        </div>
    </nav>

    <div id="infoModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
        <div class="relative w-full h-full max-w-2xl md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Welcome ! 
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="infoModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        You can use this service to remove the noise of your audio's. Click to upload your audio files or drop them in the zone. <br>
                        Multiple audio formats are supported such as .mp3 or .wav but you can also drop a whole archive (.zip) if there are a lot of files. <br>
                        NOTE: Only have the audio files in the root of the archive, no folder. <br>
                        The audios must ideally be formated like this : `year_month_day_hour_minute_second_*_.wav`. Example: `2023_3_21_10_32_55_ch126.wav`
                    </p>
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        Once you've clicked on the validation button, your results will be available soon depending on the quantity of data to process ! <br>
                        You will be automatically redirected to the results page or you can come back later and find your results in the history. <br>
                        You can export the cleaned data as a zip archive containing all files separately or download a wav file where all the audios have been concatenated (in the right order).   </p>
                    
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        Currently the backend uses the MetricGAN+ model with Speechbrain to process and clean the audio files. </p>

                </div>
            </div>
        </div>
    </div>
    
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>